.red {
    color: red;
}

.yellow {
    color: yellow;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.violet {
    color: violet;
}

.orange {
    color: orange;
}

.bluegreen {
    color: rgb(32, 123, 131);
}

.blueviolet {
    color: blueviolet;
}

.yellowgreen {
    color: yellowgreen;
}

.redviolet {
    color: #c71585;
}

.redorange {
    color: rgb(255, 102, 0);
}

.yelloworange {
    color: rgb(255, 174, 0);
}
