* {
	box-sizing: border-box;
	user-select: none; /* Standard syntax */
	-webkit-user-select: none; /* Chrome, Opera, Safari */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	-webkit-tap-highlight-color: transparent;
}

@font-face {
	font-family: 'Architects Daughter';
	src: url('./fonts/ArchitectsDaughter-Regular.ttf') format('truetype');
	font-display: fallback;
}

@font-face {
	font-family: 'Comic Neue';
	src: url('./fonts/ComicNeue-Regular.ttf') format('truetype');
	font-display: fallback;
}

@font-face {
	font-family: 'MPLUSRounded1c';
	src: url('./fonts/MPLUSRounded1c-Black.ttf') format('truetype');
	font-display: fallback;
}

body,
.App {
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: 'Architects Daughter', cursive;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	overflow-x: hidden;
	transition: all 0.25s ease;
}

p {
	margin: 0;
}

input {
	user-select: text; /* Standard syntax */
	-webkit-user-select: text; /* Chrome, Opera, Safari */
	-moz-user-select: text; /* Firefox 2+ */
	-ms-user-select: text; /* IE 10+ */

	caret-color: black;
}

input:focus {
	outline: none;
	border: 2px solid black;
}

.fade-out {
	animation: fadeOut 3s;
	-webkit-animation: fadeOut 3s;
	-moz-animation: fadeOut 3s;
	-o-animation: fadeOut 3s;
	-ms-animation: fadeOut 3s;
	opacity: 0;
}

h1 {
	margin: 0;
}

.disappear {
	display: none;
}
