/* MOBILE */
@media only screen and (max-width: 359px) {
  .just-color-title {
    font-size: 4rem;
    height: 70vh;
  }
  button {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.1rem;
  }
}

/* IPAD */
@media only screen and (min-width: 768px) {
  .just-color-title {
    font-size: 10rem;
  }
  button {
    width: 5.5rem;
    height: 5.5rem;
  }
  .container {
    height: 30vh;
  }
}

/* IPAD PRO */
@media only screen and (min-width: 1024px) {
  .just-color-title {
    font-size: 12rem;
  }
  button {
    width: 7.5rem;
    height: 7.5rem;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1200px) {
  .just-color-title {
    font-size: 13rem;
    height: 85vh;
  }
  button {
    width: 4.5rem;
    height: 4.5rem;
  }
  .container {
    height: 26vh;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: none;
  }
  ::-webkit-scrollbar-thumb {
    background: whitesmoke;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
