/* MOBILE */
@media only screen and (max-width: 359px) {
  .just-color-title {
    font-size: 4rem;
    height: 70vh;
  }
  button {
    width: 3rem;
    height: 3rem;
    margin: 0.18rem;
    font-size: 0.7rem;
  }
  .plus-btn {
    font-size: 0.75rem;
  }
}

/* IPAD */
@media only screen and (min-width: 768px) {
  .just-color-title {
    font-size: 10rem;
  }
  button {
    width: 6rem;
    height: 6rem;
    font-size: 1.4rem;
  }
  .colors-container {
    height: 30vh;
  }
  .plus-btn {
    font-size: 1.75rem;
  }
  .modal {
    width: 60%;
    padding: 5rem 1rem;
  }
  .modal__description,
  .input-field,
  .modal-btn {
    font-size: 1.5rem;
  }
  .input-field {
    width: 13rem;
  }
}

/* IPAD PRO */
@media only screen and (min-width: 1024px) {
  .just-color-title {
    font-size: 12rem;
  }
  button {
    width: 8rem;
    height: 8rem;
    font-size: 1.7rem;
  }
  .plus-btn {
    font-size: 2.3rem;
  }
  .modal {
    width: 60%;
    padding: 7rem 1rem;
  }
  .modal__description,
  .input-field,
  .modal-btn {
    font-size: 2rem;
  }
  .input-field {
    width: 13rem;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1200px) {
  .just-color-title {
    font-size: 13rem;
    height: 85vh;
  }
  button {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 1rem;
  }
  .colors-container {
    height: 26vh;
  }
  .plus-btn {
    font-size: 1.1rem;
  }
  .modal {
    width: 30%;
    padding: 4rem 1rem;
  }
  .modal__description,
  .input-field,
  .modal-btn {
    font-size: 1.3rem;
  }
  .input-field {
    width: 12rem;
  }
}
