body {
  overflow: hidden;
  font-family: "Architects Daughter", cursive;
}

h1 {
  text-align: center;
}

button,
.random {
  outline-style: none;
  transition: all 0.5s;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  position: absolute;
  bottom: 20px;
  justify-content: center;
  width: 100%;
}

/* buttons */

.random {
  clip-path: circle(29px at center);
  width: 80px;
  margin: 4px 2px;
  /* you can't put a border for this button */
}

.button-prop {
  width: 60px;
  height: 60px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
    0px 10px 5px #999;
  -webkit-box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
    0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
    0px 10px 5px #999;
}

.button-prop:hover,
.button-prop:focus {
  color: #dfe7ea;
  -webkit-box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
    0px 2px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
    0px 2px 5px #999;
  box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
    0px 2px 5px #999;
}

.red {
  background: rgb(255, 0, 0);
}

.yellow {
  background: rgb(255, 255, 0);
}

.blue {
  background: rgb(0, 119, 255);
}

.green {
  background: rgb(0, 128, 0);
}

.purple {
  background: rgb(128, 0, 128);
}

.orange {
  background: rgb(255, 165, 0);
}

.bluegreen {
  background: rgb(13, 152, 186);
}

.blueviolet {
  background: rgb(138, 43, 226);
}

.yellowgreen {
  background: rgb(154, 205, 50);
}

.redviolet {
  background: rgb(199, 21, 133);
}

.redorange {
  background: rgb(255, 102, 0);
}

.yelloworange {
  background: rgb(255, 174, 66);
}

.add-button {
  background: #999 linear-gradient(to right, white, black);
}
