* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  /* overflow: hidden; */
  font-family: "Architects Daughter", cursive;
  text-align: center;
  margin: 0;
}

.just-color-title {
  /* border: 5px solid white; */
  font-size: 5rem;
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.fade-out {
  animation: fadeOut 3s;
  -webkit-animation: fadeOut 3s;
  -moz-animation: fadeOut 3s;
  -o-animation: fadeOut 3s;
  -ms-animation: fadeOut 3s;
  opacity: 0;
}

h1 {
  margin: 0;
}

.colors-container {
  border-top: 2px solid white;
  height: 38vh;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* align-content: flex-end; */
  align-items: flex-end;
  padding: 1rem 0;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
}

button {
  font-family: inherit;
  font-size: 0.8rem;
  line-height: 0.9;
  width: 3.75rem;
  height: 3.75rem;
  margin: 0.25rem 0.125rem;
  border-radius: 50%;
  transition: all 0.5s;
  border: none;
  outline: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
    0px 10px 5px #999;
}

button:hover,
button:focus {
  color: #dfe7ea;
  box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
    0px 2px 5px #999;
}

/* COLOR BUTTONS */
.random {
  background: conic-gradient(from 45deg, red, blue, green, yellow, red);
}

.plus-btn {
  /* background: #999 linear-gradient(to bottom, white, black); */
  background: #c5c5c5;
  font-family: Arial, Helvetica, sans-serif;
}

.plus-btn:hover,
.plus-btn:focus {
  color: white;
}

.disabled {
  color: black;
  background: black;
}

.disabled:hover,
.disabled:focus {
  box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
    0px 10px 5px #999;
  color: black;
  background: black;
  cursor: default;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.purple {
  background: purple;
}

.orange {
  background: orange;
}

.bluegreen {
  background: #0d98ba;
}

.blueviolet {
  background: blueviolet;
}

.yellowgreen {
  background: yellowgreen;
}

.redviolet {
  background: #c71585;
}

.redorange {
  background: #ff6600;
}

.yelloworange {
  background: #ffae42;
}

/* MODAL */
#backdrop {
  background: #00000099;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.modal {
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
  display: none;
  position: fixed;
  z-index: 2;
  width: 90%;
  overflow: auto;
  background: white;
  padding: 3.5rem 1rem;
  border-radius: 10px;
  animation-name: zoomIn;
  animation-duration: 0.1s;
}

.modal__description {
  font-size: 1rem;
  margin: 0.5rem;
}

.input-field {
  font-family: "Comic Neue", cursive;
  text-align: center;
  font-size: 1rem;
  width: 10rem;
  border: 1px solid black;
  border-radius: 3px;
}

.modal-btn {
  padding: 0.7rem 1.5rem;
  display: inline-block;
  margin: 1rem auto 0 auto;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#add-btn {
  background: green;
}

#cancel-btn {
  background: black;
}

.name-required {
  animation-name: shakeX;
  animation-duration: 0.75s;
  background: #ff7990;
  outline-color: #b80707;
}

#delete-btn {
  background: #ff3657;
}

#done-btn {
  background: darkblue;
}

/* SCROLLBAR */
.colors-container::-webkit-scrollbar {
  width: 5px;
}
.colors-container::-webkit-scrollbar-track {
  background: none;
}
.colors-container::-webkit-scrollbar-thumb {
  background: #f5f5f573;
  border-radius: 50px;
  visibility: hidden;
}
.colors-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.colors-container:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
