* {
	box-sizing: border-box;
	user-select: none; /* Standard syntax */
	-webkit-user-select: none; /* Chrome, Opera, Safari */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: "Architects Daughter", cursive;
	text-align: center;
	margin: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	overflow-x: hidden;
}

p {
	margin: 0;
}

input {
	user-select: text; /* Standard syntax */
	-webkit-user-select: text; /* Chrome, Opera, Safari */
	-moz-user-select: text; /* Firefox 2+ */
	-ms-user-select: text; /* IE 10+ */
}

input:focus {
	outline: none;
	border: 2px solid black;
}

#new-color-input:focus {
	box-shadow: 0 0 5px green;
}

#edit-color-input:focus {
	box-shadow: 0 0 5px blue;
}

/* SETTINGS */
.settings__toggle-button__div {
	/* border: 2px solid white; */
	width: 100%;
	height: 8vh;
	padding: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#settings__toggle-button {
	cursor: pointer;
	padding: 1.5rem 0;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.toggle-button__circle {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	display: block;
	margin: 0 2px;
	border: 1px solid whitesmoke;
	box-shadow: 1px 1px 3px #505050;
}

.colored {
	background-color: whitesmoke;
}

.transparent {
	background-color: transparent;
}

.flex-div {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

#settings__div {
	visibility: hidden;
	opacity: 0;
	margin: 2.5rem 2rem 0.5rem 0.5rem;
	background: rgba(0, 0, 0, 0.65);
	border-radius: 7.5px;
	width: 20rem;
	height: 20rem;
	padding: 0.75rem;
	overflow: auto;
	z-index: 15;
	box-shadow: 5px 5px 15px black;
   transition: all .1s ease-in;
   transform: scale(.9);
   -webkit-transform: scale(.9);
   transform-origin: 90% 0;
   -webkit-transform-origin: 90% 0;
}

.settings__div__headers,
.settings-p {
	font-family: sans-serif;
	color: whitesmoke;
	text-decoration: none;
	margin: 0.5rem;
}

.settings-p {
	font-size: 1rem;
	color: #aaaaaa;
	border-bottom: 1px solid grey;
	padding-bottom: 7.5px;
}

.settings__div__headers {
	font-size: 1.3rem;
	text-align: left;
	margin: 0.75rem 1.5rem 0.5rem 1.75rem;
}

.settings__div__info {
	font-family: sans-serif;
	color: #cccccc;
	text-decoration: none;
	text-align: left;
	margin: 0 1.75rem;
}

.settings__div__sharing-buttons {
	margin: 1rem 0.7rem 0 0.7rem;
}

.settings__div__info-link {
	color: #ff4684;
	text-decoration: none;
}

.settings__div__info-link:hover,
.settings__div__info-link:focus {
	color: #ff0055;
	text-decoration: underline;
}

/* SETTINGS */

.justcolor-title {
	/* border: 5px solid white; */
	font-size: 5rem;
	height: 70vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}

.fade-out {
	animation: fadeOut 3s;
	-webkit-animation: fadeOut 3s;
	-moz-animation: fadeOut 3s;
	-o-animation: fadeOut 3s;
	-ms-animation: fadeOut 3s;
	opacity: 0;
}

h1 {
	margin: 0;
}

.palette {
	border-top: 2px solid lightgrey;
	height: 32vh;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
	width: 90vw;
	bottom: 2.75rem;
	border-radius: 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-end;
	padding: 0.75rem 0.5rem;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: 0px 5px 10px black;
}

#toggle-palette-btn {
	border-radius: 4px;
	font-size: 0.8rem;
	padding: 0.1rem 1.5rem;
	bottom: 0.5rem;
	position: absolute;
	background: #0000004d;
	color: #00000080;
}

#toggle-palette-btn:active {
	cursor: pointer;
	background: #00000080;
	color: black;
}

.disappear {
	display: none;
}

button {
	font-family: inherit;
	font-size: 0.8rem;
	line-height: 0.9;
	width: 3.75rem;
	height: 3.75rem;
	margin: 0.45rem 0.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: all 0.5s;
	border: none;
	outline: none;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 1px 0px grey, 0px 5px 0px 0px lightgrey,
		0px 10px 7px #999;
}

button:hover,
button:focus {
	color: #dfe7ea;
	box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
		0px 2px 5px #999;
}

.disabled,
.disabled:hover,
.disabled:focus {
	box-shadow: none;
}

.disabled:hover,
.disabled:focus {
	color: #202020;
	background: #202020;
	cursor: default;
}

/* COLOR BUTTONS */
.arbitrary-btn {
	background: conic-gradient(from 45deg, red, blue, green, yellow, red);
}

.append-btn {
	color: black;
	font-family: sans-serif;
}

.append-btn:hover,
.append-btn:focus {
	color: white;
}

.red {
	background: red;
}

.blue {
	background: blue;
}

.yellow {
	background: yellow;
}

.green {
	background: green;
}

.purple {
	background: purple;
}

.orange {
	background: orange;
}

.bluegreen {
	background: #0d98ba;
}

.blueviolet {
	background: blueviolet;
}

.yellowgreen {
	background: yellowgreen;
}

.redviolet {
	background: #c71585;
}

.redorange {
	background: #ff6600;
}

.yelloworange {
	background: #ffae42;
}

.black {
	background: black;
	color: white;
}

.black:hover,
.black:focus {
	color: lightgrey;
}

.white {
	background: white;
}

.grey {
	background: grey;
}

/* MODAL */
#backdrop, 
#invisible-backdrop {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	height: 100vh;
}

#backdrop {
	background: #00000075;
}

#invisible-backdrop {
	background: #00000000;
}

.modal {
	left: 50%;
	top: 46%;
	transform: translate(-50%, -50%);
	position: fixed;
	display: none;
	z-index: 20;
	width: 90%;
	overflow: auto;
	background: white;
	padding: 3rem 1rem;
	border-radius: 10px;
	animation-name: zoomIn;
	animation-duration: 0.1s;
	box-shadow: 5px 5px 15px black;
}

.modal__description {
	font-size: 1rem;
	margin: 0.5rem;
}

.input-field {
	font-family: "Comic Neue", sans-serif;
	text-align: center;
	font-size: 1rem;
	width: 10rem;
	border: 1px solid black;
	border-radius: 3px;
}

.modal-btn {
	padding: 0.7rem 1.5rem;
	display: inline-block;
	margin: 1rem auto 0 auto;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

#add-btn {
	background: green;
}

#cancel-btn {
	background: black;
}

.name-required {
	animation-name: shakeX;
	animation-duration: 0.75s;
	background: #ff7990;
	outline-color: #b80707;
}

#delete-btn {
	background: #ff3657;
}

#done-btn {
	background: darkblue;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	font-family: "Comic Neue", cursive;
	width: 7.5rem;
	font-size: 0.75rem;
	background-color: black;
	color: #fff;
	border: 1px solid white;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 500;
	bottom: 90%;
	left: 50%;
	margin-left: -60px;
}

span {
	display: none;
}

/* The bottom arrow of the tooltip */
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%; /* At the bottom of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: white transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	display: block;
}

/* SCROLLBAR */
.palette::-webkit-scrollbar, 
#settings__div::-webkit-scrollbar {
	width: 5px;
}
.palette::-webkit-scrollbar-track, 
#settings__div::-webkit-scrollbar-track {
	background: none;
}
.palette::-webkit-scrollbar-thumb, 
#settings__div::-webkit-scrollbar-thumb {
	background: #f5f5f573;
	border-radius: 50px;
	/* visibility: hidden; */
}
.palette::-webkit-scrollbar-thumb:hover, 
#settings__div::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.palette:hover::-webkit-scrollbar-thumb, 
#settings__div:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}
