body {
  overflow: hidden;
  font-family: "Architects Daughter", cursive;
  text-align: center;
  margin: 0;
}

* {
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

.just-color-title {
  font-size: 5rem;
  margin-top: 4rem;
  position: relative;
  vertical-align: middle;
}

.container {
  bottom: 1.25rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  position: absolute;
  justify-content: center;
}

button {
  width: 3.75rem;
  height: 3.75rem;
  margin: 0.25rem 0.125rem;
  border-radius: 50%;
  transition: all 0.5s;
  border: none;
  outline: none;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
    0px 10px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
    0px 10px 5px #999;
  -webkit-box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
    0px 10px 5px #999;
}

button:hover,
button:focus {
  color: #dfe7ea;
  box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
    0px 2px 5px #999;
  -webkit-box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
    0px 2px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
    0px 2px 5px #999;
}

.random {
  background: conic-gradient(from 45deg, red, blue, green, yellow, red);
}

.add-btn {
  background: #999 linear-gradient(to bottom, white, black);
}

.red {
  background: rgb(255, 0, 0);
}

.yellow {
  background: rgb(255, 255, 0);
}

.blue {
  background: rgb(0, 119, 255);
}

.green {
  background: rgb(0, 128, 0);
}

.purple {
  background: rgb(128, 0, 128);
}

.orange {
  background: rgb(255, 165, 0);
}

.bluegreen {
  background: rgb(13, 152, 186);
}

.blueviolet {
  background: rgb(138, 43, 226);
}

.yellowgreen {
  background: rgb(154, 205, 50);
}

.redviolet {
  background: rgb(199, 21, 133);
}

.redorange {
  background: rgb(255, 102, 0);
}

.yelloworange {
  background: rgb(255, 174, 66);
}
